.App {
  text-align: center;
  background-color: #efe9d5;
}
/* HEADER STYLING */
header {
  background-color: #efe9d5;

  /* background-image: radial-gradient(circle, #14c8cc, #b393d3, #553c9a); */
  /* ANOTHER RADIANT OPTION: background-image: linear-gradient(to right, #553c9a, #14c8cc, #b393d3); */
}
header h5 {
  /* padding: 1rem; */
  margin: 0;
}

header h5:hover {
  font-weight: 700;
  font-size: larger;
  color: #b393d3;
  border-style: none;
}

header a {
  text-decoration: none;
  color: #553c9a;
}

.active-link {
  /* font-size: larger; */
  color: #553c9a;
  border-style: none;
}

footer {
  background-color: #efe9d5;
}
/* LOOK */
.button-area {
  background-color: #efe9d5;
}

/* HOME.CSS */

/* Background image */
.backgroundDiv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("./images/peacockfeather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  text-align: center;
  padding-top: 15vh;
  color: whitesmoke;
}
/* Content in middle of home page */
.backgroundDiv > h1 {
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
  padding-top: 10%;
  padding-bottom: 2%;
}
.backgroundDiv > .lead {
  padding: 0 5% 2% 5%;

  font-weight: 450;
}
/* CTA Button */
.actionBtn {
  color: whitesmoke;
  border-color: whitesmoke;
  background-color: transparent;
}
.actionBtn:hover {
  color: #553c9a;
}

/*ABOUT.CSS*/

.aboutContainer {
  padding-top: 15vh;
}

.creditsDiv {
  padding-top: 10vh;
}

/* ERRORPAGE.CSS */
.errorDiv {
  padding-top: 35vh;
  color: red;
}

.homeBtn {
  color: red;
  border-color: red;
}
